# URL de conexión a la base de datos PostgreSQL (Ej: Neon Tech o AWS RDS)
NEON_DB_CONNECTION_STRING=postgresql://<usuario>:<password>@<host>:<puerto>/<nombre_db>

# URL de conexión al servidor Redis (para el ruteo de WebSockets y colas)
REDIS_URL=redis://<host>:6379/0

# Clave secreta de Django (Obligatorio en producción)
# SECRET_KEY=tu_super_secret_key_aqui

# Modo debug (True para desarrollo, False para producción)
# DEBUG=False
